* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
    min-width: 100%;
}

.header {
    background-color: rgb(40, 40, 40);
    color:white;
    padding: 20px;
}

.header h1 {
    display: inline-block;
    font-size: 46px;
    padding-left: 10px;
}

.nav {
    padding-top: 15px;
    margin-right: 20px;
    margin-left: 25px;
    float: right;

}

.nav ul {
    list-style-type: none;
    
}

.nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.nav a {
    color:white;
}

.nav a:hover {
    font-style:italic;
}

a { 
    text-decoration: none;
    font-size: 20px;
}

.main {
    display:flex;
    flex-direction: column;
    max-width: 70%;
    margin: auto;
}


section {
    margin-top: 30px;
    margin-bottom: 30px;
    
}

.images {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;

}

.images div:not(:first-child) {
    width:49%;
    margin:auto;
    
}

.info {
    display:flex;
    justify-content: space-between;
}
.info h2 {
    width: 20%;
}
.info .content {
    width: 75%;
    border-left: solid 5px;
    padding-left:20px;
    margin-right: 25px;
}
.main p {
    text-align: left;    
    position:relative;
    margin-right: 25px;
    right:auto;
    width:100%;
}

img {
    width: 100%;
    border: solid rgb(40, 40, 40) 5px;
}

#shorter {
    height:100px;
    overflow: hidden;
    border: solid rgb(40, 40, 40) 5px;
}

.main-img {
    width:99%;
    margin-left:auto;
    margin-right:auto;
    position:relative;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(255, 247, 236);
}

h2 {
    margin: 0 1.5%;
    font-size: 40px;
    text-align: right;
    color:rgb(40, 40, 40)
}

.info ul {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 50px;
}

.info ul li {
    padding-left:20px;
    padding-right:20px;
}

.info a {
    color:rgb(40, 40, 40)
}

.info a:hover {
    font-style: italic;
}

.short-img-1 {
    position:relative;
}

.short-img-2 {
    position:relative;
}

.short-img-3 {
    position:relative;
}

.short-img-4 {
    position:relative;
}

.text-box-1 {
    position: absolute;
    top: 0;
    left: 0;
    width:30%;    
    height:30%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgb(40,40,40);
    color:white;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.text-box {
    position: absolute;
    top: 0;
    left: 0;
    width:50%;    
    height:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(40,40,40);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    background-color: rgb(40, 40, 40);
    color:white;
    position:absolute;
    min-width: 100%;
    padding-top:10px;
}

.footer h2 {
    display: inline-block;
    font-size: 32px;
    padding-left: 10px;
    padding-bottom:10px;
    color:white;
    text-align: center;
}

.contact-nav {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-right: 30%;
    margin-left: 25px;
    float:right;
}

.contact-nav ul {
    list-style-type: none;
    
}

.contact-nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.contact-nav a {
    color:white;
}

.contact-nav a:hover {
    font-style:italic;
}
